<header class="navbar navbar-fixed-top navbar-dark navbar-expand-lg bg-dark">
  <div class="container">
    <%= link_to image_pack_tag('media/images/reflectotron_banner.svg',
                          alt: 'reflectotron',
                          height: '60', id: 'logo'), root_url %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class='nav-item'>
          <%= link_to 'home',   root_path, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= link_to 'help',   help_path, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= link_to 'about',  about_path, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= link_to 'contact',  contact_path, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= link_to 'log in', '#', class: 'nav-link' %>
        </li>
      </ul>
    </nav>
  </div>
</header>
