<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if notice %><div class="notice"><%= notice %></div><% end %>
    <% if alert %><div class="alert"><%= alert %></div><% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
